@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <!--019022128593-->
    
    <form method="post">
        <input asp-for="UPCNo" value="@Model.UPCNo"/>
        <button type="submit" style="height:50px;width:100px"/>
    </form>
    <p>@Model.LongName</p>
</div>
